@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sigortam</h1>
    <p class="lead">Sigorta Teklifi Al.</p>
    
    <p><a href="@Url.Action("Customer","Insurance")" class="btn btn-primary btn-lg">Teklif Al &raquo;</a></p>
</div>
